.additional-products {
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin-bottom: 76px;
  }
}

.additional-products__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 36px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.additional-products__wrapper-inner {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.additional-products__list {
  .clear-list();
  margin-bottom: 40px;

  @media (min-width: @desktop-width) {
    width: 896px;
  }
}

.additional-products__item {
  padding-top: 13px;
  padding-bottom: 19px;
  border-top: 1px solid @silver;

  &:last-child {
    border-bottom: 1px solid @silver;
  }

  @media (min-width: @tablet-width) {
    padding: 26px 38px 28px;
    border-left: 1px solid @silver;
    border-right: 1px solid @silver;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 230px 280px 244px;
    border-left: none;
    border-right: none;
    padding: 15px 0 17px;
    align-items: center;
  }
}

.additional-products__item-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: @mine-shaft;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.additional-products__price {
  margin: 0;
  margin-bottom: 12px;
  .arial-text();
  line-height: 14px;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.additional-products__gift {
  width: 280px;
  height: 290px;
  background-color: @apple;
  background-image: url("../img/gift.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  & svg {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 59px;
    fill: @white;
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/gift-tablet.jpg");
    width: 100%;
    height: 200px;

    & svg {
      left: 77px;
      top: 57px;
      transform: none;
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/gift-desktop.jpg");
    width: 245px;
    height: 288px;

    & svg {
      left: 50%;
      transform: translateX(-50%);
      top: 56px;
    }
  }
}

.additional-products__gift-text {
  .arial-text();
  font-size: 16px;
  line-height: 20px;
  color: @white;
  text-align: center;
  position: absolute;
  bottom: 39px;
  left: 50%;
  transform: translateX(-50%);
  width: 161px;
  margin: 0;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    top: 71px;
    right: 124px;
    left: auto;
    transform: none;
  }

  @media (min-width: @desktop-width) {
    bottom: 41px;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}
