.additional {
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    margin-bottom: 58px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 65px;
  }
}

.additional__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    margin-bottom: 62px;
    font-size: 36px;
    line-height: 36px;
  }
}

.additional__list {
  .clear-list();
  padding-left: 45px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 42px;
    padding-left: 59px;
  }

  @media (min-width: @desktop-width) {
    column-gap: 140px;
  }
}

.additional__item {
  & + & {
    margin-top: 25px;

    @media (min-width: @tablet-width) {
      margin: 0;
    }
  }

  @media (min-width: @tablet-width) {
    width: 225px;
  }

  @media (min-width: @desktop-width) {
    width: 185px;
  }
}
