.additional-products {
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin-bottom: 76px;
  }
}

.additional-products__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 36px;
}

.additional-products__wrapper-inner {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.additional-products__list {
  .clear-list();
  margin-bottom: 40px;

  @media (min-width: @desktop-width) {
    width: 896px;
  }
}

.additional-products__item {
  padding-top: 13px;
  padding-bottom: 19px;
  border-top: 1px solid @silver;

  &:last-child {
    border-bottom: 1px solid @silver;
  }

  @media (min-width: @tablet-width) {
    padding: 26px 38px 28px;
    border-left: 1px solid @silver;
    border-right: 1px solid @silver;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 230px 280px 244px;
    border-left: none;
    border-right: none;
    padding: 15px 0 17px;
    align-items: center;
  }
}

.additional-products__item-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: @mine-shaft;
  text-transform: uppercase;
}

.additional-products__price {
  margin: 0;
  margin-bottom: 12px;
  .arial-text();
  line-height: 14px;
  display: flex;
  justify-content: space-between;
}

.additional-products__gift {
  width: 280px;
  height: 290px;
  background-color: @apple;
  background-image: url("../img/gift.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: @tablet-width) {
    width: 707px;
    height: 200px;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    height: 288px;
  }
}

.additional-products__gift-text {
  padding-top: 16px;
  .arial-text();
  font-size: 16px;
  line-height: 20px;
  color: @white;
  text-align: center;
}
