.additional__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin: 0;
}

.additional__list {
  .clear-list();
}

.additional__control-label {
  font-size: 16px;
  line-height: 18px;
  color: @tundora;
  text-transform: uppercase;
}
