.advantages {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 49px;
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.advantages__list {
  .clear-list();
  padding-left: 60px;
  .arial-text();
}

.advantages__item {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.advantages__description {
  margin: 0;
}
