.advantages {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 49px;
}

.advantages__title {
  .indents-reset;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  font-weight: inherit;
}

.advantages__list {
  .clear-list;
  padding-left: 60px;
  .arial-text;
}

.advantages__item  {

  &:not(:last-child) {
    .indents-reset;
    margin-bottom: 24px;
  }
}

.advantages__description {
  .indents-reset;
}

