.catalog-section__wrapper {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 71px;
  }
}

.catalog-section__item {
  & + & {
    margin-top: 20px;

    @media (min-width: @desktop-width) {
      margin-top: 0;
    }
  }
}
