.catalog-card {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  row-gap: 22px;

  @media (min-width: @tablet-width) {
    width: 324px;
    padding: 0 37px 39px 39px;
    box-sizing: border-box;
    row-gap: 0;
    margin-bottom: 21px;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    padding: 0 38px 38px 41px;
  }
}

.catalog-card__wrapper-image {
  width: 50%;

  @media (min-width: @tablet-width) {
    width: 100%;
    height: 206px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: -73px;
    margin-bottom: 27px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 40px;
    margin-top: -80px;
  }
}

.catalog-card__image {
  display: block;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: auto;
    height: auto;
  }
}

.catalog-card__wrapper-text {
  width: 50%;

  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.catalog-card__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: @mine-shaft;
  margin-bottom: 14px;

  h3 {
    font-weight: 400;
    width: 76px;
    font-size: 16px;
    line-height: 20px;
    margin: 0;

    @media (min-width: @tablet-width) {
      width: 130px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-size: 20px;
      line-height: 24px;
    }

    @media (min-width: @desktop-width) {
      line-height: 21px;
    }
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 21px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 25px;
  }
}

.catalog-card__attributes {
  @media (min-width: @tablet-width) {
    margin-bottom: 33px;
  }
}

.catalog-card__attribute {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  .arial-text();
  font-size: 12px;
  line-height: 16px;

  & + & {
    @media (min-width: @tablet-width) {
      margin-top: 8px;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 16px;
    padding-bottom: 7px;
    border-bottom: 1px solid @silver;
  }
}

.catalog-card__button {
  width: 100%;
}
