.page-header {
  &--index {
    position: relative;

    &::after {
      @media (min-width: @desktop-width) {
        position: absolute;
        display: block;
        content: "";
        left: auto;
        right: 0;
        top: 0;
        width: 50%;
        height: 100%;
        background-color: @header-bg;
        background-image: url("../img/shedule-bg-desktop.webp");
        background-repeat: no-repeat;
        background-position: right bottom;

        @media (min-resolution: 2dppx) {
          background-image: url("../img/shedule-bg-desktop@2x.webp");
        }
      }
    }
  }
}

.page-header__wrapper {
  width: 320px;
  margin: 0 auto;
  position: relative;
  border-bottom: 1px solid @alto;
  margin-bottom: 27px;

  &--index {
    margin-bottom: 20px;
    border: none;
  }

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 24px 30px 0 30px;
    border: none;
    margin-bottom: 65px;

    &--index {
      margin-bottom: 0;
    }
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 54px 110px 0 110px;
    margin-bottom: 73px;

    &--index {
      margin-bottom: 82px;
      min-height: 640px;
    }
  }
}

.page-header__menu {
  &--index {
    @media (min-width: @tablet-width) {
      margin-bottom: 63px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 109px;
    }
  }

  @media (min-width: @tablet-width) {
    width: 100%;
    display: flex;
  }
}

.page-header__logo {
  display: flex;
  align-items: center;
  padding: 11px 20px 15px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--index {
    padding-bottom: 17px;
    cursor: auto;

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}
