.page-header__wrapper {
  width: 320px;
  margin: 0 auto;
  position: relative;
}

.page-header__logo {
  display: flex;
  justify-content: space-between;
  width: 191px;
  align-items: center;
  padding: 10px 20px 17px;
}
