.proof {
  background-color: @white-smoke;
  padding: 25px 20px 40px;
}

.proof__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.proof__description {
  margin: 0;
  .arial-text();
  margin-bottom: 20px;
}

.proof__achievments {
  margin-bottom: 40px;
}

.proof__items-wrapper {
  margin-bottom: 34px;
  display: grid;
  grid-template-columns: 124px 124px;
  column-gap: 32px;
}

.proof__item {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  border: 1px solid @silver;
  box-sizing: border-box;
  border-radius: 3px;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 17px;
}

.proof__item-info {
  .arial-text();
  font-size: 12px;
  line-height: 100%;
  text-transform: lowercase;
  position: absolute;
  left: 50%;
  bottom: -13px;
  transform: translate(-50%);
  background-color: @white-smoke;
  padding-left: 20px;
  padding-right: 20px;
}

.proof__item-total {
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.proof__photo {
  display: block;
  margin-bottom: 15px;
}
