.proof {
  background-color: @white-smoke;

  @media (min-width: @tablet-width) {
    background-color: @white;
  }
}

.proof__title-wrapper {
  padding-top: 25px;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 76px;
  }
}

.proof__title {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.proof__background {
  @media (min-width: @desktop-width) {
    background-color: @concrete;
  }
}

.proof__wrapper {
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    margin: 0 auto;
    display: flex;
    padding: 70px 110px 65px;
  }
}

.proof__text-wrapper {
  @media (min-width: @tablet-width) {
    margin-bottom: 250px;
  }

  @media (min-width: @desktop-width) {
    width: 436px;
    margin: 0;
    margin-right: 96px;
    padding: 0;
  }
}

.proof__description {
  margin: 0;
  .arial-text();
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 69px;
  }
}

.proof__achievments {
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    flex-wrap: wrap;
  }
}

.proof__items-wrapper {
  margin-bottom: 34px;
  display: grid;
  grid-template-columns: 124px 124px;
  column-gap: 32px;

  @media (min-width: @tablet-width) {
    width: 370px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 162px 162px;
    margin-bottom: 55px;
  }
}

.proof__item {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  border: 1px solid @silver;
  box-sizing: border-box;
  border-radius: 3px;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 17px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.proof__item-info {
  .arial-text();
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  position: absolute;
  left: 50%;
  bottom: -13px;
  transform: translate(-50%);
  background-color: @white-smoke;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: @white;
  }

  @media (min-width: @desktop-width) {
    background-color: @white-smoke;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    bottom: -7px;
  }
}

.proof__item-total {
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  line-height: 20px;

  span {
    @media (min-width: @tablet-width) {
      display: block;
      margin-top: 9px;
    }

    @media (min-width: @desktop-width) {
      display: inline-block;
      margin-top: 0;
      margin-left: 63px;
    }
  }

  @media (min-width: @tablet-width) {
    width: 174px;
    margin: auto;
    margin-right: 0;
    text-align: right;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    width: 100%;
    text-align: left;
  }
}

.proof__image-background {
  position: relative;

  @media (min-width: @tablet-width) {
    background-color: @white-smoke;
  }

  @media (min-width: @desktop-width) {
    background-color: transparent;
  }
}

.proof__image-wrapper {
  position: relative;

  @media (min-width: @tablet-width) {
    padding-bottom: 56px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    width: 591px;
  }
}

.proof__cat {
  @media (min-width: @tablet-width) {
    display: flex;
    width: 591px;
    position: absolute;
    top: -175px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.proof__cat-condition {
  &--after {
    display: none;
  }

  @media (min-width: @tablet-width) {
    height: 511px;
    overflow: hidden;
    width: 50%;
    position: relative;

    & img {
      width: auto;
      position: absolute;
      height: 100%;
    }

    &--before {
      & img {
        left: 0;
      }
    }

    &--after {
      display: block;

      & img {
        right: 0;
      }
    }
  }
}
