.section__wrapper {
  padding: 31px 20px 21px;
  background-color: @concrete;

  @media (min-width: @tablet-width) {
    padding: 77px 316px 57px 52px;
  }

  @media (min-width: @desktop-width) {
    box-sizing: border-box;
    width: 570px;
    padding: 77px 52px 59px;
  }
}

.section__title {
  margin: 0;
  margin-bottom: 29px;
  padding-left: 71px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: @apple;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 2px;

    @media (min-width: @tablet-width) {
      width: 200px;
      height: 200px;
      right: -254px;
      top: 15px;
      left: auto;
      transform: translateY(0);
    }

    @media (min-width: @desktop-width) {
      width: 100px;
      height: 100px;
      left: 0;
      right: auto;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--lose-weight::after {
    content: "";
    position: absolute;
    width: 36px;
    height: 50px;
    background-image: url("../img/icons/lose-weight.svg");
    background-repeat: no-repeat;
    left: 8px;
    top: -9px;

    @media (min-width: @tablet-width) {
      width: 140px;
      height: 194px;
      background-size: 100%;
      left: auto;
      right: -225px;
      top: 4px;
      transform: translateY(0);
    }

    @media (min-width: @desktop-width) {
      width: 70px;
      height: 97px;
      left: 15px;
      right: auto;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--gain-weight::after {
    content: "";
    position: absolute;
    width: 67px;
    height: 28px;
    background-image: url("../img/icons/gain-weight.svg");
    background-repeat: no-repeat;
    left: -9px;
    top: 50%;
    transform: translateY(-50%);

    @media (min-width: @tablet-width) {
      width: 268px;
      height: 112px;
      background-size: 100%;
      left: auto;
      right: -286px;
      top: 58px;
      transform: translateY(0);
    }

    @media (min-width: @desktop-width) {
      width: 134px;
      height: 56px;
      left: -19px;
      right: auto;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    margin-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 162px;
    margin-bottom: 74px;
  }
}

.section__description {
  .arial-text;
  margin: 0;
  padding-bottom: 22px;
  border-bottom: 1px solid @alto;
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    color: @black;
    border: none;
    padding: 0;
    margin-bottom: 51px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 26px;
  }
}

.section__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: @black;
  transition: opacity 0.2s;
  margin: 0;
  padding-right: 57px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 42px;
    height: 100%;
    transition: background-position 0.2s;
    background-image: url("../img/icons/arrow-sm.svg");
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    background-position: -8px center;

    @media (min-width: @tablet-width) {
      width: 32px;
    }

    @media (min-width: @desktop-width) {
      width: 29px;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &:hover::after {
    background-position: left center;
  }

  &:active {
    opacity: 0.3;
  }
}
