.button {
  display: block;
  text-decoration: none;
  color: #ffffff;
  background-color: #68b738;
  padding: 8px 44px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;

  &--silver {
    background-color: #f2f2f2;
    color: #444444;
  }
}
